/* Selector {
    Property: value;
} */

body {
    background-image: url(mixing-console2.jpg);
    background-size: cover;
    
}

h2 {
    color: #B95500;
    text-align: center;
    border: 5px solid rgba(4, 38, 124, 0.7);
    cursor: pointer ;
}

p {
    color: pink;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}



